@font-face {
  font-family: "Triod Postnaja";
  src: url("../TriodPostnaja.ttf");
}

body{
  background: url("../img/background.png");
  background-size: cover;
  font-family: Triod Postnaja;
  width: 100vw;
}
.title{
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.dfFlex{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.dfFlex img{
  border-radius: 25px;
  margin: 0 10px;
  width: 188px;
}

.content{
  background: rgba(255, 255, 255, 0.45);
  width: 1246px;
  margin: 0 auto;
  padding: 0 10px 50px;
  border-radius: 40px;
  position: relative;
}
.titleContent{
  text-align: center;
  color: #555555;
  font-size: 40px;
}
.subtitleContent{
  text-align: center;
  color: #555555;
  font-size: 30px;
  margin-top: 10px;
}

.firstFlexImage div::first-letter{
  initial-letter: 2;
}
.firstFlexImage div{
  line-height: 30px;
}
.firstFlexImage{
  position: relative;
  display: flex;
  margin-top: 20px;
}
.quate{
  font-style: italic;
  width: 418px;
  margin-left: 600px;
  margin-top: 30px;
}
.firstFlexImage img{
  width: 400px;
  border-radius: 25px;
}

.imageSecond{
  width: 300px;
  margin-top: -100px;
}

.imageThird{
  float: right;
  margin-left: 15px;
  margin-top: 69px;
  shape-outside: inset(calc(100% - 214px) 0 0);
}

.bottom{
  font-size: 16px;
  font-style: italic;
  position: relative;
  margin-top: -10px;
}
.webstite{
  position: absolute;
  bottom: 25px;
  right: 100px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;

}
.webstite img {
  width: 20px;
  height: 20px;
}
